[submodule "external/Big-BWT"]
	path = external/Big-BWT
	url = https://gitlab.com/manzai/Big-BWT.git
[submodule "external/libdivsufsort"]
	path = external/libdivsufsort
	url = https://github.com/y-256/libdivsufsort.git
[submodule "external/leviosam"]
	path = external/leviosam
	url = https://github.com/alshai/LevioSAM
[submodule "external/pfp"]
	path = external/pfp
	url = https://github.com/SimonJonckheere03/pfp.git
[submodule "external/htslib"]
	path = external/htslib
	url = https://github.com/samtools/htslib.git
